/* 
       *************************************
       * Programmer: 		Lars Hoffbeck
       * Class ID: 		lahof3817
       * Exercise 3: 		Using forms, POST
       * CIS 2800: 		Internet Programming
       * Instructor:		Dr. Miller
       * Spring 2013
       * Due date: 		02/14/13
       * Date completed: 	02/12/13
       *************************************
       * Program Explanation:
       *
       * The program creates a web form, and
       * submits form data to a php page that 
       * performs some manipulations on it.
       **************************************
*/

body{
    background-color: darkgray;
    font-family:Arial,sans-serif;
}

h1{
    color: salmon;
}

.emph{
    color: red;
}
